.shiny-input-container:not(.shiny-input-container-inline) {
    width: 100%;
}

.shiny-progress .progress-text {
  position: absolute;
  right: 10px;
  height: 48px;
  width: 320px;
  background-color: #ffcdcd;
  margin: 0px;
  padding: 2px 3px;
  opacity: 0.90;
}

.shiny-progress .progress-text .progress-message {
  padding: 0px 3px;
  font-weight: bold;
  font-size: 2em;
}

.shiny-progress .progress-text .progress-detail {
  padding: 0px 3px;
  font-size: 2em;
}